/* i made the Configurement */


h1{
    text-align: center;
    text-decoration: underline;
}
h6{
    text-align: center;
    text-decoration: underline;
}
p{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}


